body {
  background: #000;
}
#main {
  border-left-color: #111;
  border-right-color: #111;
  border-bottom-color: #111;
}
.split-handle {
  background: #111;
}
.browser {
  background: #000;
  color: #fff;
}
.browserRow.hover {
  background: #111;
}
.browserRow.active {
  background: #111;
}
.browserRow.active.dir {
  color: #ff8;
}
.rowNameInput {
  color: #ff0;
  background-color: #111;
}
.browserColumn.focus .browserRow.active {
  background: #22a;
}
.browserImage {
  border: 1px solid #111;
  background-image: linear-gradient(45deg, #111 25%, transparent 25%), linear-gradient(-45deg, #111 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #111 75%), linear-gradient(-45deg, transparent 75%, #111 75%);
}
.winbutton {
  background: #111;
}
#crumbs {
  background: #111;
}
#titlebar {
  background: none;
}
#shelf .browserRow.active {
  background: #000;
}
#shelf {
  background: #0a0a0a;
}
#shelf.focus {
  background: #111;
}
.fileInfoData {
  margin-top: 20px;
  color: #444;
}
.fileInfoData .punct {
  color: #222;
}
#browser {
  background: #181818;
  border-color: #111;
}
.crumb {
  background: #111;
}
.crumb,
.dir {
  color: #aaf;
}
.dir.text,
.dir.punct {
  color: #a84;
}
.file {
  color: #aaa;
}
.cc,
.cpp,
.git,
.coffee {
  color: #ff0;
}
.h,
.hpp,
.py,
.noon {
  color: #f80;
}
.md,
.txt {
  color: #fff;
}
.bin,
.com,
.dat,
.dll,
.lib,
.msg,
.pak,
.pdb {
  color: #808;
}
.png,
.gif,
.jpg,
.bmp,
.tiff,
.image {
  color: #080;
}
.ico,
.icns,
.pic,
.svg,
.xcf {
  color: #0f0;
}
.pug,
.styl {
  color: #0af;
}
.js,
.css,
.json,
.html,
.htm,
.plist,
.xml,
.rtf {
  color: #b4a;
}
.sh,
.bat,
.exe {
  color: #f00;
}
.zip,
.tgz {
  color: #88f;
}
.dirname {
  opacity: 0.6;
}
.ext {
  opacity: 0.5;
}
.separator {
  opacity: 0.3;
}
.lock,
.dotfile,
.dotfile:before {
  color: #666;
}
.dir .dotfile {
  color: #55a;
}
.popup,
.menuItem,
.popupWindow {
  background-color: #111;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.scroller.long {
  color: #191919;
}
.scroller.short {
  color: #9696ff;
}
