body {
  background: #000;
}
#main {
  border-left-color: #111;
  border-right-color: #111;
  border-bottom-color: #111;
}
.split-handle {
  background: #111;
}
.editor,
.viewer,
.browser {
  background: #000;
  color: #fff;
}
.browserRow.hover {
  background: #111;
}
.browserRow.active {
  background: #111;
}
.browserRow.active.dir {
  color: #ff8;
}
.browserRow.selected {
  background: #116;
}
.rowNameInput {
  color: #ff0;
  background-color: #116;
  margin-left: -2px;
}
.browserColumn.focus .browserRow.active {
  background: #22a;
}
.viewerImage,
.browserImage {
  border: 1px solid #111;
  background-image: linear-gradient(45deg, #111 25%, transparent 25%), linear-gradient(-45deg, #111 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #111 75%), linear-gradient(-45deg, transparent 75%, #111 75%);
}
.winbutton {
  background: #111;
}
#crumbs {
  background: #111;
}
#titlebar {
  background: none;
}
#shelf .browserRow.active {
  background: #000;
}
#shelf {
  background: #0a0a0a;
}
#shelf.focus {
  background: #111;
}
.fileInfoData {
  margin-top: 20px;
  color: #444;
}
.fileInfoData .punct {
  color: #222;
}
#browser {
  background: #181818;
  border-color: #111;
}
.crumb {
  background: #111;
}
.crumb:hover {
  background: #0e0e0e;
}
.crumb .path:hover {
  color: #aaf;
}
.crumb,
.dir {
  color: #aaf;
}
.crumb .inline:hover {
  color: #fff;
  opacity: 1;
}
.dir.text,
.dir.punct {
  color: #a84;
}
.file {
  color: #aaa;
}
.cc,
.cpp,
.git,
.coffee {
  color: #ff0;
}
.h,
.hpp,
.py,
.noon {
  color: #f80;
}
.md,
.txt {
  color: #fff;
}
.bin,
.com,
.dat,
.dll,
.lib,
.msg,
.pak,
.pdb {
  color: #808;
}
.png,
.gif,
.jpg,
.bmp,
.tiff,
.image {
  color: #080;
}
.ico,
.icns,
.pic,
.svg,
.xcf {
  color: #0f0;
}
.pug,
.styl {
  color: #0af;
}
.js,
.css,
.json,
.html,
.htm,
.plist,
.xml,
.rtf {
  color: #b4a;
}
.sh,
.bat,
.exe {
  color: #f00;
}
.zip,
.tgz {
  color: #88f;
}
.dirname {
  opacity: 0.6;
}
.ext {
  opacity: 0.5;
}
.separator {
  opacity: 0.3;
}
.lock,
.dotfile,
.dotfile:before {
  color: #666;
}
.dir .dotfile {
  color: #55a;
}
.popup,
.menuItem,
.popupWindow {
  background-color: #111;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.scroller.long {
  color: #191919;
}
.scroller.short {
  color: #9696ff;
}
.editor {
  color: #ddd;
  background: #000;
  border-color: #111;
}
*:focus .cursor {
  background: #f80;
}
*:focus .cursor.virtual {
  background: #008;
}
*:focus .cursor.main {
  background: #ff0;
}
*:focus .cursor.blink {
  background: #f80;
}
*:focus .cursor.blink.off {
  background: transparent;
}
.cursors.salterMode .cursor {
  background: #050;
}
.cursors.salterMode .cursor.main {
  background: #080;
}
.cursor {
  background: #444;
}
.cursor.main {
  background: #666;
}
.cursor.virtual {
  background: #111;
}
.cursor-line {
  background: #0a0a0a;
}
.numbers {
  background: rgba(15,15,15,0.5);
}
.linenumber {
  border-right-color: #111;
}
.linenumber span {
  color: #111;
}
.linenumber.highligd span {
  color: rgba(155,155,255,0.6);
}
.linenumber.selected span {
  color: #555;
}
.linenumber.highligd.selected:not(.cursored) span {
  color: #bbf;
}
.linenumber.cursored span {
  color: #f00;
}
.linenumber.cursored.selected span {
  color: #f80;
}
.linenumber.cursored.main span {
  color: #fd0;
}
.linenumber.cursored.main.selected span {
  color: #ff0;
}
.meta.href {
  background-color: #333;
}
.meta.gitInfoFile {
  background: #333;
  opacity: 0.5;
  padding-right: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.meta.gitInfoChange {
  background: #080;
  opacity: 0.25;
}
.meta.coffeeCommand,
.meta.termCommand {
  background: #111;
}
.meta.git {
  opacity: 0.4;
  background: #0f0;
}
.meta.git.del {
  background: #f00;
}
.meta.git.mod {
  background: #0f0;
}
.meta.git.add {
  background: #88f;
}
.meta.git.boring {
  background: #666;
}
.meta.dbg {
  opacity: 0.8;
  background: #f00;
}
.meta.dbg.pointer {
  opacity: 1;
  border-left-color: #ff0;
}
.meta.pigment {
  opacity: 1;
}
.linenumber span .saveButton {
  background: #f80;
}
.linenumber span.gitInfoLine {
  transform: translateY(-4px);
}
.linenumber span.gitInfoLine.changed {
  color: #080;
}
.linenumber span.gitInfoLine.deleted {
  color: #f00;
}
.linenumber span.gitInfoLine.added {
  color: #ff0;
}
.linenumber.gitInfoLine {
  background: #111;
}
.minimap {
  background: #000;
  border-left-color: #111;
}
.topbot {
  background-color: #181818;
}
.minimapTopBot {
  background-color: #000;
}
.highlight {
  color: rgba(255,0,255,0.5);
  background: rgba(100,100,255,0.3);
}
.bracketmatch {
  background: rgba(255,255,255,0.2);
}
.stringmatch {
  background: rgba(0,255,0,0.3);
}
*:focus .selection {
  background: #444;
}
.selection {
  color: #444;
  background: #282828;
}
.autocomplete-span {
  background: #22a;
  color: #ff0;
}
.autocomplete-span.selected {
  color: #fff;
}
.autocomplete-list {
  background: #111;
}
.autocomplete-list::-webkit-scrollbar {
  background-color: #333;
}
.autocomplete-list::-webkit-scrollbar-thumb {
  background-color: #44f;
}
.autocomplete-item {
  color: #ccc;
}
.autocomplete-item.selected {
  background: #44f;
  color: #ff0;
}
/*
 0000000  000   000  000   000  000000000   0000000   000   000
000        000 000   0000  000     000     000   000   000 000
0000000     00000    000 0 000     000     000000000    00000
     000     000     000  0000     000     000   000   000 000
0000000      000     000   000     000     000   000  000   000
*/
.syntax {
  color: #666;
}
.browserRow.array {
  color: #aaa;
}
.browserRow .arrayIndex {
  color: #444;
  font-size: 12px;
}
.browserRow .arrayDot {
  color: #333;
}
.invisible {
  color: #181818;
}
.invisible.invisible-tab {
  color: #333;
}
.invisible.trailing {
  color: #600;
}
.array {
  color: #00f;
}
.type {
  color: #77f;
}
.func,
.function {
  color: #fa0;
}
.func.post,
.function.post {
  color: #bbf;
}
.func.call,
.function.call {
  color: #f80;
}
.func.call.class,
.function.call.class {
  color: #fc0;
}
.func.marker,
.function.marker {
  opacity: 1;
  color: #55f;
}
.func.tail:before,
.function.tail:before,
.func.head:before,
.function.head:before {
  color: #55f;
}
.func.tail.bound:before,
.function.tail.bound:before,
.func.head.bound:before,
.function.head.bound:before {
  color: #f80;
}
.func.bracket,
.function.bracket {
  color: #55f;
}
.obj,
.owner,
.callee,
.dictionary,
.class.object,
.class {
  color: #ff8;
}
.range {
  color: #66f;
}
.require {
  color: #0f0;
}
.this {
  color: #bbf;
}
.marker,
.punct {
  opacity: 0.45;
}
.marker.dictionary,
.punct.dictionary {
  opacity: 0.3;
}
.escape {
  opacity: 0.2;
}
.module {
  color: #ff8;
}
.property {
  color: #fa8;
}
.elem,
.namespace {
  color: #48a;
}
.elem.member,
.namespace.member {
  color: #f80;
}
.member {
  color: #ccf;
}
.method {
  color: #ff0;
}
.method.class,
.method.call {
  color: #ff8;
}
.method.definition,
.method.template {
  color: #48a;
}
.template {
  color: #48a;
}
.operator {
  color: #fa0;
}
.operator.negate {
  color: #ff0;
}
.regexp {
  color: #f4a;
}
.keypath,
.semver,
.cssid {
  color: #f80;
}
.syntax.cond,
.keyword {
  color: #aaf;
}
.syntax.cond.null,
.keyword.null {
  color: #a00;
}
.syntax.cond.function,
.keyword.function {
  color: #666;
}
.struct {
  color: #f63;
}
.macro {
  color: #f0f;
}
.macro.call {
  color: #f0f;
}
.argument {
  color: #0aa;
}
.define {
  color: #666;
}
.interpolation.marker {
  color: #f80;
}
.variable.err {
  color: #f08;
}
.syntax.exists {
  opacity: 0.7;
}
.string {
  color: #0a0;
}
.string.double,
.string.triple {
  color: #0e0;
}
.string.backtick {
  color: #ccf;
}
.string.interpolation {
  opacity: 0.5;
}
.string.dictionary {
  color: #0a0;
}
.bool,
.true {
  color: #88f;
}
.nil {
  color: #f04;
}
.number,
.int {
  color: #88f;
}
.float {
  color: #f68;
}
.hex {
  color: #fa8;
}
.keyword.return,
.keyword.return.function.call {
  color: #c0c;
}
.comment,
.comment.text.keyword,
.comment.string.double {
  color: #4f4f4f !important;
}
.comment.header {
  color: #040 !important;
  background: #040;
  border-left-color: #060;
  border-bottom-color: #020;
}
.comment.header.minimap {
  color: #0a0 !important;
  opacity: 1;
}
.comment.triple.header {
  color: #060 !important;
  background: #060;
  border-left-color: #080;
  border-bottom-color: #040;
}
.comment.triple.header.minimap {
  color: #0f0 !important;
}
.header.marker.minimap {
  color: #222 !important;
}
.require {
  color: #666;
}
.require.variable {
  color: #0f0;
}
.test {
  color: #ccf;
}
.test-suite {
  color: #88f;
}
.test-fail {
  color: #ff0;
}
.test-error {
  color: #fa0;
}
.test-pass {
  color: #0a0;
}
.h1 {
  color: #ff0;
}
.h2 {
  color: #ff4;
}
.h3 {
  color: #ff8;
}
.h4 {
  color: #aaf;
}
.h5 {
  color: #88f;
}
.li1 {
  color: #0f0;
}
.li1.marker {
  color: transparent;
}
.li1.marker:before {
  color: #0f0;
}
.li2 {
  color: #0a0;
}
.li2.marker {
  color: transparent;
}
.li2.marker:before {
  color: #0a0;
}
.li3 {
  color: #080;
}
.li3.marker {
  color: transparent;
}
.li3.marker:before {
  color: #080;
}
.bold {
  color: #ff8;
  font-weight: bold;
}
.bold.marker {
  opacity: 0.3;
}
.code {
  color: #ccf;
}
.code.punct {
  opacity: 0.2;
}
.italic {
  font-style: italic;
}
.found {
  text-decoration: underline;
}
.git-deleted {
  opacity: 0.26;
}
