body {
  font-family: Bahnschrift Light, Ebrima, Varela Round, Arial Rounded MT Bold, Helvetica, Arial;
  font-size: 18px;
}
#main {
  display: flex;
  flex-direction: column;
}
#shelf {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
#shelfResize {
  background: transparent;
}
.browser {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.browserColumn {
  overflow: hidden;
  position: relative;
  line-height: 1.25;
}
.browserColumnTable {
  display: table;
  width: 100%;
  height: 100%;
}
.browserRow {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
  cursor: pointer;
}
.browserRow .git {
  float: right;
  padding-top: 1px;
}
.rowNameInput {
  font-size: 18px;
  border: none;
  white-space: nowrap;
  position: absolute;
  left: 30px;
  right: 30px;
}
.browserSearch {
  padding-right: 12px;
  float: right;
}
.browserImageContainer {
  position: relative;
  padding: 6px;
  text-align: center;
}
.browserImage {
  opacity: 0;
  border: 1px solid;
  cursor: pointer;
  background-size: 12px 12px;
  background-position: 0 0, 0 6px, 6px -6px, -6px 0px;
}
.browserFileInfo {
  position: relative;
  padding: 6px;
  cursor: pointer;
}
.fileInfoIcon {
  text-align: center;
}
.fileInfoIcon:before {
  font-size: 200px;
}
.fileInfoFile {
  text-align: center;
  display: block;
  font-size: 28px;
}
.fileInfoData {
  margin: auto;
  font-size: 16px;
  line-height: 1.1;
}
.fileInfoData th {
  text-align: right;
}
.fileInfoData td {
  text-align: left;
}
.browserFileIcon {
  text-align: left;
  display: inline-block;
  margin-right: 0.3em;
  opacity: 0.5;
}
.openFileIcon {
  display: inline-block;
  width: 24px;
  margin-top: -3px;
}
.browserStatusIcon {
  text-align: right;
  display: inline-block;
  width: 24px;
  opacity: 0.5;
  position: absolute;
  right: 6px;
}
.file-icon:before {
  font-family: octicons;
  content: '\f011';
}
.folder-icon:before {
  font-family: octicons;
  content: '\f016';
}
.noon-icon:before {
  font-family: Sans-Serif;
  content: 'ⓞ';
}
.dir,
.crumb {
  font-weight: bold;
}
.inline {
  display: inline-block;
}
.dir.text,
.dir.punct {
  font-weight: normal;
}
#titlebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  pointer-events: none;
}
.titlebar-title {
  opacity: 0;
  pointer-events: none;
}
.crumb {
  font-size: 15px;
  padding-top: 1px;
  line-height: 30px;
  position: absolute;
  text-align: center;
}
.crumb .path {
  opacity: 0.5;
}
.crumb .punct {
  padding: 0.2em;
  opacity: 0.2;
}
#crumbs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  display: block;
  background: frameColor;
}
.scrollbar {
  position: absolute;
  top: 0;
  cursor: ns-resize;
}
.scrollbar.left {
  bottom: 0;
  left: 0;
  width: scrollbarWidth;
}
.scrollbar.right {
  right: 0;
  width: 10%;
  height: 100%;
}
.scrollhandle {
  position: absolute;
  width: scrollhandleWidth;
  top: 0;
}
.scrollhandle.left {
  left: 0;
}
.scrollhandle.right {
  right: 0;
}
