
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

frameColor = #111111
backColor  = #000000
darkColor  = #0a0a0a
shelfColor = #111111

body
    background          backColor

#main
    border-left-color   frameColor
    border-right-color  frameColor
    border-bottom-color frameColor
    
.split-handle
    background          frameColor

.browser
    background          backColor
    color               #fff

.browserRow

    &.hover
        background      #111

    &.active
        &.dir
            color       #ff8
        background      frameColor

.rowNameInput
    color               #ff0
    background-color    frameColor
        
.browserColumn.focus .browserRow.active
    background          #22a
    
.browserImage
    border              1px solid frameColor

.winbutton
    background          frameColor

#crumbs
    background          frameColor
    
#titlebar
    background          none
    
//  0000000  000   000  00000000  000      00000000    
// 000       000   000  000       000      000         
// 0000000   000000000  0000000   000      000000      
//      000  000   000  000       000      000         
// 0000000   000   000  00000000  0000000  000         

#shelf .browserRow.active
    background          backColor

#shelf
    background          darkColor
    
#shelf.focus
    background          shelfColor
    
.fileInfoData
    margin-top          20px
    color               #444
    
// 0000000    00000000    0000000   000   000   0000000  00000000  00000000   
// 000   000  000   000  000   000  000 0 000  000       000       000   000  
// 0000000    0000000    000   000  000000000  0000000   0000000   0000000    
// 000   000  000   000  000   000  000   000       000  000       000   000  
// 0000000    000   000   0000000   00     00  0000000   00000000  000   000  

#browser
    background          #181818
    border-color        frameColor
    
.crumb 
    background          frameColor
    
.crumb
.dir
    color           #aaf

.dir.text
.dir.punct
    color           #a84

.file
    color           #aaa

.cc
.cpp
.git
.coffee
    color           #ff0

.h
.hpp
.py
.noon
    color           #f80

.md
.txt
    color           #fff

.bin
.com
.dat
.dll
.lib
.msg
.pak
.pdb
    color           #808
        
.png
.gif
.jpg
.bmp
.tiff    
.image
    color           #080

.ico
.icns
.pic
.svg
.xcf
    color           #0f0

.pug
.styl
    color           #0af

.js
.css
.json
.html
.htm
.plist
.xml
.rtf
    color           #b4a

.sh
.bat
.exe
    color           #f00

.zip
.tgz
    color           #88f
    
.dirname
    opacity         0.6
.ext
    opacity         0.5
.separator
    opacity         0.3

.lock
.dotfile
.dotfile:before
    color           #666
.dir .dotfile
    color           #55a
    
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
.menuItem
.popupWindow
    background-color    frameColor

.popupItem
    &:not(:last-child)
        border-bottom   1px solid frameColor
    
//  0000000   0000000  00000000    0000000   000      000      00000000  00000000   
// 000       000       000   000  000   000  000      000      000       000   000  
// 0000000   000       0000000    000   000  000      000      0000000   0000000    
//      000  000       000   000  000   000  000      000      000       000   000  
// 0000000    0000000  000   000   0000000   0000000  0000000  00000000  000   000  

.scroller.long
    color                   rgb(25,25,25)

.scroller.short
    color                   rgb(150,150,255)
    